<a href="https://colab.research.google.com/github/Kovalivska/Python/blob/Study/Copy_of_Variables_%7C_Input_%7C_F_string_%7C_Functions_c2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Variables**

**Variable**: A container for a value(string,integer,float,boolean)

In [ ]:
#create a variable age and assign 28

age=28
print(age)
print('age')

28
age

In [ ]:
#variable to store string
first_name="John"
food="pizza"
print(first_name)
print(food )

John
pizza

In [ ]:
# Integers
age=30
quantity=250
num_of_students=30

In [ ]:
#to store floating point
price=12.62
grade_point=3.4
distance=10.5
print(price)
print(grade_point)
print(distance)

12.62
3.4
10.5

In [ ]:
#to store Boolean
is_online=True
is_studnet=False
print(true)

NameError: name 'true' is not defined

In [ ]:
#to store Boolean
is_online=True
is_studnet=False

print(true)
print(is_online)
print(is_studnet)

In [ ]:
#we can not use key words as varaibles

true='print False'
print(true)

In [ ]:
#we can not use variable name which start with number
true='is student'
print(10true)

In [ ]:
#we can not use space between varaible names
first_number=10
print(first_number)

In [ ]:
#Exercise_1
#Create variables to store your name, age, and city. Then print the values

age=65
name='John'
city = 'Berlin'
print(age)
print(name)
print(city)

In [ ]:
#Exercise_2
#Create a variable to store a temperature in Celsius.
#Convert the temperature to Fahrenheit using the formula: F = (C * 9/5) + 32

Fahrenheit=(celsius_temp*9/5)+32
celsius_temp=25
print(Fahrenheit)

In [ ]:
#Exercise_3
#Create variables to store the length and width of a rectangle.
length=5
width=7
area_rectangle=length*width
perimeter_rectangle=2*(length+width)
print(area_rectangle)
print(perimeter_rectangle)
print(f'the area {area_rectangle} and perimeter {perimeter_rectangle} of the rectangle')
#Calculate the area and perimeter of the rectangle.



#Print the results.

# **User Input**

In [ ]:
#getting inout from the user
age=int(input())

print(age + 20)
20

In [ ]:
from ctypes import BigEndianStructure
#Exercise_4
#Ask a user to insert thier name and birth year.
print('insert your name')
name=str(input())
print('insert your birth year')
birth_year=int(input())
age=2024-birth_year


#calcualte the age by substracting birth year to current year(2024)
print('Hallo, ', name, ', your age is ', age)

In [ ]:
#Exercise_5
#Accept two numbers from user and display the calcualted sum !!!!!!! redo

print('Enter the first number:')
first_number1=int(input())
print('Enter the second number')
second_number2=int(input())

sum=first_number1+second_number2
print('SUM is:',sum)

Enter the first number:
1
Enter the second number
2
SUM is: 3

In [ ]:
#Exercise_6!!!!
#get the total sales and profit from the user.
total_sales=float(input('Enter the total sales:'))
total_profit=float(input('Enter the profit:'))

#Calculate the profit margin(dividing the profit by the sales and multiplying by 100.)
profit_margin=(total_profit/total_sales)*100
print('The total sale is:', total_sales)
print('The total profit is:', total_profit)
print('The profit margin is:', profit_margin, "%")

Enter the total sales:120
Enter the profit:100
The total sale is: 120.0
The total profit is: 100.0
The profit margin is: 83.33333333333334 %

# **F-String**

In [ ]:
#Exercise_7
#get price and quantity from the user and calculate the total cost

unit_price=float(input("Enter the price:"))
total_quantity=float(input('Enter the totlal quantity:'))
total_cost=unit_price*total_quantity
# Use formated string in print statment
final_cost=f"The total cost is USD {total_cost}"
print(final_cost)

Enter the price:20
Enter the totlal quantity:10
The total cost is USD 200.0

In [1]:
#Exrcise_8 !!!!
#get age and name from the user
age1=input("Enter your age:")
name2=input("Enter your name:")


#use formated string to print (Hello,name! Your are age years old.)
# The variables used in the f-string were incorrect. Changed them to age1 and name2.
print(f"Hello, {name2}! You are {age1} year old. ")

Enter your age:20
Enter your name:30
Hello, 30! You are 20 year old.

In [ ]:
#Exrcise_8 !!!!
#get age and name from the user
age1=input("Enter your age:")
name2=input("Enter your name:")


#use formated string to print (Hello,name! Your are age years old.)
print(f"Hello, {name2}! You are {age1} year old. ")

# **Functions**

**Function** = A block of reusable code
          and need to place () after the function name to invoke it.

In [2]:
#create a function to greet a person by their name
def greet():
  print("Hello")
greet()

Hello

In [3]:
#using return statment
def greet():
  return "Hello"
greet()

'Hello'

In [ ]:
#create a function to greet a person by their name

return = statment used to end a function and send the resut back to the caller

In [ ]:
#Exercise_9
#create a functions which add and substract two number




# get input from the user



#call the function and print the output

In [ ]:
#Exercise_10
#Building interset calculator
#create a function interset calculator



#get input from the user




#calcualte and print interset for the given principal,rate and time